@import url(general.css);


.blogPresentationSection {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-bg-warm);
}



.mainContentBlog {
    padding-inline: calc(var(--padding) * 3);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.blogPostsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonContainerBlogPosts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.buttonContainerBlogPosts button{
    padding-block: calc(var(--padding) / 3);
    padding-inline: calc(var(--padding) / 2);
    border:1px solid var(--color-text-light);
    border-radius: calc(var(--border-radius) / 2);
    cursor: pointer;
    transition: border-color 100ms ease-in-out;
}
.buttonContainerBlogPosts button:hover {
    color: var(--color-red);
    border-color: var(--color-red);
}
.buttonContainerBlogPosts button:focus{
    background-color: var(--color-red);
    color: var(--color-text-white);
}
.numberedButtonBlog {
    width: 1.5rem;
    aspect-ratio: 3/2;
    padding: 0;
    
}
.postContentContainerCommonClass {
    display: flex;
    align-items: center;
    padding: var(--padding);
    gap: 1rem;
    width: 70%;
}

.postImage {
    background-color: var(--color-red);
    border-radius: var(--border-radius);

}

.commonPostContent {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

}

.commmonTagsClass {
    display: flex;
    gap: 10px;
    padding: calc(var(--padding) / 2);
}

.commmonTagsClass p {
    background-color: rgb(29, 194, 235);
    padding-block: calc(var(--padding) / 5);
    padding-inline: calc(var(--padding) /2);
    color: var(--color-text-white);
    border-radius: calc(var(--border-radius) * 2);
    font-size: var(--min-font-size);

}

.CommonTitleDateContainer {
    display: flex;
    gap: 1rem;
}

.blogAdditifContent {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 20%;
    border-radius: var(--border-radius);
    border: 2px solid rebeccapurple;
}

.commonClassVideo {
    background-color: var(--color-red);
    width: 90%;
    aspect-ratio: 3/2;
}

.displayNothing {
    display: none;
}