@import url(/css/general.css);

.testimonialsIntroductionSection {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    height: 40vh;
    background-color: var(--color-bg-warm);
    gap: 1rem;
    padding-bottom: calc(var(--padding) * 2.5);
}

.testimonialsIntroductionSection h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family-title);
}

.testimonialsIntroductionSection h1 span {
    color: var(--color-red);
    font-family: var(--font-family-title-italic);
}

.testimonialsIntroductionSection .testimonialsIntroduction {
    width: 30%;
    text-align: center;
    font-size: 16px;
    color: var(--color-text-muted);
}
.block{
    padding-inline: 20%;
}
.studentTitle,
.collaboratorsTitle,
.clientsTitle{
   display: flex;
   flex-direction: row;
   gap: 1ch;
   justify-content: start;
   align-items: center;
   padding-inline: 20%;
   padding-top: 8%;
   text-transform: uppercase;
   color: var(--color-text-muted);
}
.testimonialsIntroduction,
.textIncitationFooter{
    font-size: 16px;
    color:var(--color-text-white);
}
.testimonialsStudentsSection {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-block: 5%;
    padding-inline: 20%;

}

.testimonialsStudents0,
.testimonialsStudents1,
.testimonialsStudents2,
.testimonialsStudents3,
.testimonialsStudents4 {
    padding: var(--padding);
    background-color: var(--color-bg-warm);
    width: 100%;
    border-radius: var(--border-radius);
    transition: box-shadow 100ms ease-in-out;
}

.testimonialsStudents0:hover,
.testimonialsStudents1:hover,
.testimonialsStudents2:hover,
.testimonialsStudents3:hover,
.testimonialsStudents4:hover {
    box-shadow: 0px 0px 20px var(--color-text-light);
}

.testimonialsStudentsProfile0,
.testimonialsStudentsProfile1,
.testimonialsStudentsProfile2,
.testimonialsStudentsProfile3,
.testimonialsStudentsProfile4 {
    display: flex;
    font-weight: bold;
    padding: calc(var(--padding) / 2);
    align-items: center;
    justify-content: space-between;
    gap: calc(1rem /3);
}

.profileImage {
    background-image: url(https://picsum.photos/200/200);
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius-circle);
}

.role0,
.role1,
.role2,
.role3,
.role4 {
    color: var(--color-text-light);
    font-size: var(--min-font-size);
}

.testimonialsDescriptions {
    color: var(--color-text-light);
    font-size: calc(var(--min-font-size) + 0.1rem);
}
.rating,
.clientRating0 ,
.clientRating1 ,
.clientRating2 ,
.clientRating3 ,
.clientRating4 {
    color: var(--color-red);
}

.testimonialsClients1 :first-child,
.testimonialsClients0 :first-child,
.testimonialsClients2 :first-child,
.testimonialsClients3 :first-child,
.testimonialsClients4 :first-child{
    color: var(--color-red)
}

.clientRating0 ,
.clientRating1 ,
.clientRating2 ,
.clientRating3 ,
.clientRating4 {
    color: var(--color-text-light);
}
.author0,
.author1,
.author3,
.author2,
.author4{
    font-weight: bold;
}
.authorAndRole0 :last-child,
.authorAndRole1 :last-child,
.authorAndRole2 :last-child,
.authorAndRole3 :last-child,
.authorAndRole4 :last-child{
    text-transform: uppercase;
    color: var(--color-text-light);
}

 .testimonialsCollaboratorsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    padding-inline: 20%;
    gap: 3rem;
    padding-block: 10%;
    background-color: var(--color-bg-warm);
}

.collab {
    background-color: #f9f6f1;
    padding-block: 2%;

}
.testimonialsCollaboratorsSection .profileImage {
    background-color: var(--color-text-light);
    width: 10%;
}

.testimonialsCollaborators1,
.testimonialsCollaborators2,
.testimonialsCollaborators3,
.testimonialsCollaborators0,
.testimonialsCollaborators4 {
    background-color: var(--color-bg-white);
    padding: var(--padding);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 10%;
    flex-direction: column;
    padding: calc(var(--padding)*2);
}
.testimonialsCollaborators1 p,
.testimonialsCollaborators2 p,
.testimonialsCollaborators3 p,
.testimonialsCollaborators0 p,
.testimonialsCollaborators4 p{
   font-style: italic;
   color: black;
   
}
.author6,
.author7,
.author8,
.author9,
.author5,
.author6{
    font-weight: bold;
    font-style: normal;
}
.role6,
.role7,
.role8,
.role9,
.role4,
.role5{
    text-transform: uppercase;
    color: var(--color-text-light);
}

.testimonialsCollaboratorsProfile0,
.testimonialsCollaboratorsProfile1,
.testimonialsCollaboratorsProfile2,
.testimonialsCollaboratorsProfile3,
.testimonialsCollaboratorsProfile4 {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.testimonialsClientsSection {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    grid-template-rows: repeat(2, 50%);
    padding-inline: 20%;
    padding-block: 5%;
    gap: 2rem;
}

.testimonialsClients1,
.testimonialsClients0,
.testimonialsClients2,
.testimonialsClients3,
.testimonialsClients4 {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-bg-warm);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.testimonialsClients1:hover,
.testimonialsClients0:hover,
.testimonialsClients2:hover,
.testimonialsClients3:hover,
.testimonialsClients4:hover {
    box-shadow: 0px 0px 1px var(--color-text-muted);
}
.clientProfile0,
.clientProfile1,
.clientProfile2,
.clientProfile3,
.clientProfile4 {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 30%;
    gap: 1rem;
}

.clientProfile0 .profileImage,
.clientProfile1 .profileImage,
.clientProfile2 .profileImage,
.clientProfile3 .profileImage,
.clientProfile4 .profileImage {
    width: 15%;
}



.buttonCTAContainerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 50%;
}

.buttonCTAContainerFooter button {
    padding-block: calc(var(--padding) /1.5);
    padding-inline: calc(var(--padding) / 2);
    border-radius: calc(var(--border-radius) * 3);
    width: 20%;
}

.buttonCTAContainerFooter .buttonCTA{
    background-color: var(--color-bg-white);
    color: var(--color-red);
    font-size: 1rem;
}

.buttonCTAAdded {
    background-color: var(--color-red);
    border:1px solid var(--color-bg-white);
    color: var(--color-text-white);
    transition: background-color 100ms ease-in-out;
    font-size: 1rem;
}
.buttonCTAAdded:hover{
    background-color: var(--color-bg-white);
    border:1px solid var(--color-red);
    color: var(--color-red);
}

/* Responsive by diams */
@media (max-width: 767px) {

  .testimonialsIntroductionSection {
    height: auto;
    padding: 5rem 1.5rem 2rem;
    text-align: center;
  }

  .testimonialsIntroductionSection .testimonialsIntroduction {
    width: 100%;
  }

  .testimonialsStudentsSection {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-inline: 1rem;
    padding-block: 2rem;
  }

  .testimonialsCollaboratorsSection {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    padding-inline: 1rem;
    padding-block: 2rem;
  }

  .testimonialsCollaboratorsSection .profileImage {
    width: 20%;
  }

  .testimonialsClientsSection {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-inline: 1rem;
    padding-block: 2rem;
    gap: 1rem;
  }

  .buttonCTAContainerFooter {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .buttonCTAContainerFooter button {
    width: 80%;
  }
}